

body {
    font-family: Arial, Helvetica, sans-serif;
    
    }
    
    /* Style the header */
    .header {
    padding: 40px;
    text-align: center;
    background: bisque;
    color: rgb(10, 10, 10);
    }
    
    /* Increase the font size of the h1 element */
    .header h1 {
    font-size: 40px;}
    .logoimg {
    height:10%;
    
    }
    .navbar {
    overflow: hidden;
    background-color: dimgrey;
    padding: 10px;
    }
    .navbar a {
    float: left;
    display: block;
    color: rgb(241, 247, 239);
    text-align: center;
    
    }
    .navbar b {
    float: right;
    }
    .footer{
    margin-top: 50px;
    
    bottom:0;
    left:0;
    width:100%;
    height: 90px;
    background-color: #D0DAEE;
    }
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
   
    }
    
    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }
    .maintabl{margin-left: auto;margin-right: auto;}
    
    tr:nth-child(even) {
    background-color: #dddddd;
    }
    .maintabl span {float: right;}
    footer{padding: 20px;background-color: lavender;}
    input.size{width: 50px;height: 50px;}
    main h3{font-weight: 600;text-align: center;color: rgb(32, 34, 123);}
    .location{padding: 40px;}